.box {
    display: inline-block;
    margin: 1px;
    background-color: #666;
}
.grid {
    display: block;
    margin: auto;
    line-height: 0.5px;
    background-color: #000;
    width: 960px;
}
.highlight {
    background-color: #fff;
}
button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}